*{
	padding: 0;
	margin: 0;
}
::-webkit-scrollbar{
	width: 9px;
}
::-webkit-scrollbar-track{
	background: #d1edf0;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb{
	background: #99c7cc;
	border-radius: 5px;
}
html{
	font-family: 'Montserrat';
}
body{
	background-image: radial-gradient(137.5% 55% at bottom right, #85a5ad 80%, #7197a0 80%);
	background-attachment: fixed;
    padding: 0;
	box-sizing: border-box;
}
.hdr{
	padding: 10px 50px 10px 50px;
	box-shadow: 0 4px 8px #00000030;
	position: sticky;
	top: 0;
	z-index: 5;
	background: #85a5ad;
	display: flex;
	justify-content: space-between;
}
.links{
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.links div{
	display: flex;
}
.links div a{
	color: #c1dde0;
	font-size: 33px;
	margin: 0 10px 0 10px;
}
.links div a img{
	height: 35px;
}
.randomizer{
	box-sizing: border-box;
	width: 60vw;
	min-width: 380px;
	margin: 10px auto;
	padding: 15px;
	display: flex;
}
@keyframes appear{
	0%{opacity: 0; transform: translateY(35px);}
	50%{opacity: 0; transform: translateY(35px);}
	100%{opacity: 1; transform: translateY(0px);}
}
.container{
	animation: 0.8s appear linear;
	width: 380px;
	padding: 15px;
	box-sizing: border-box;
	background: #c1dde0;
	box-shadow: 0 4px 8px #00000030;
	border-radius: 10px;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.input{
	width: 100%;
	margin-bottom: 35px;
}
.low, .up{
	width: 45%;
}

.input input, .site select{
	width: 100%;
	font-size: 18px;
	border: none;
	background: #c1dde0;
	border-bottom: 1px solid #585858;
	outline: none;
}
.input input:hover, .site select:hover{
	background: #aad0d4;
}
#diff{
	width: 100%;
}

button{
	margin: 10px auto 15px;
	border: none;
	padding: 10px;
	font-family: 'Montserrat';
	background: #282b37;
	color: #c1dde0;
	cursor: pointer;
}
button:hover{
	background: #15171e;
}

.container .warn{
	visibility: hidden;
	position: fixed;
	background: #fff4f3;
	width: 270px;
	padding: 5px;
	bottom: 5px;
	left: 5px;
	opacity: 0;
	border-radius: 5px;
}
.container input:focus ~ .warn{
	animation: 1s popup linear forwards;
}
@keyframes popup{
	0%{opacity: 0; transform: translateX(-100px); visibility: visible;}
	60%{opacity: 0; transform: translateX(-100px); visibility: visible;}
	100%{opacity: 0.85; transform: translateX(0px); visibility: visible;}
}

.output{
	margin-left: 20px;
	max-width: 300px;
	color: #101010;
	box-sizing: border-box;
	padding: 15px;
	max-height: 450px;
	overflow-y: auto;
	overflow-x: unset;
}
@keyframes appearop{
	0%{opacity: 0; transform: translateX(-50px);}
	30%{opacity: 0.7; transform: translateX(0px);}
	40%{opacity: 1; transform: translateX(15px);}
	50%{opacity: 1; transform: translateX(20px);}
	70%{opacity: 1; transform: translateX(22px);}
	90%{opacity: 1; transform: translateX(10px);}
	100%{opacity: 1; transform: translateX(0px);}
}
.output p{
	opacity: 0;
	animation: 0.75s appearop linear forwards;
	/*animation-delay: 3.8s;*/
}
.output p a{
	color: #c1dde0;
}
.output p a:hover{
	color: #aad0d4;
}
.item{
	border-radius: 5px;
	box-shadow: 0 2px 4px #00000030;
	padding: 2px;
	margin-bottom: 10px;
}
.time{
	opacity: 0;
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 180px;
	min-width: max-content;
	padding: 10px;
	text-align: right;
	font-size: 18px;
	background: #282b37;
	color: #c1dde0;
	border-radius: 3px;
	box-sizing: border-box;
	z-index: 3;
}
.time button{
	margin-bottom: 0;
	font-size: 15px;
	background: #a3bcc2;
	color: #282b37;
}
.time button:hover{
	background: #85a5ad;
}

@media (max-width: 850px){
	.hdr{
		padding: 10px 25px 10px 25px;
	}
	.randomizer{
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.container{
		width: 100%;
		min-width: unset;
		line-height: 20px;
	}
	.container .warn{
		top: 75px;
		bottom: unset;
	}
	.output{
		width: 90%;
		margin: 10px auto;
		max-height: 270px;
	}
	.time{
		position: sticky;
		right: 0;
		bottom: 0;
		width: 100%;
		border-radius: 0;
		text-align: center;
	}
	.intro img{
		width: 100%;
	}
}
