.section-container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.text-shadowed {
  text-shadow: 0px 4px 4px #00000040;
}

.ant-form-item {
  height: 80px !important;
}

.ant-form-item-row {
  flex-direction: column !important;
  align-items: flex-start !important;
  flex-wrap: wrap !important;
}

.ant-form-item-row > * {
  width: 100% !important;
}

.ant-form-item-row > *:first-child {
  text-align: left !important;
}

.ant-form-item-label {
  padding-bottom: 8px !important;
}

.ant-form-item-label > label {
  letter-spacing: 2px;
  font-weight: 600;
  height: max-content !important;

  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-form-item-label > label:before,
.ant-form-item-label > label:after {
  display: none !important;
}

.ant-form-item-label > .ant-form-item-required {
  position: relative !important;
  display: inline !important;
}

.ant-form-item-label > label.ant-form-item-required:after {
  content: '*' !important;
  position: absolute !important;
  left: calc(100% + 2px) !important;
  top: 0 !important;
  display: block !important;
  margin: 0 !important;
  visibility: visible !important;
  color: red;
}

.ant-select-arrow,
.ant-select-clear {
  color: #000000 !important;
}

.ant-select-selector {
  background-color: transparent !important;
}

.ant-select-selector,
.ant-form-item-control-input-content > input {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #000000 !important;
}

.ant-select-selector:focus,
.ant-form-item-control-input-content > input:focus {
  box-shadow: none !important;
}

.ant-select-focused .ant-select-selector {
  box-shadow: none !important;
}

.ant-select-dropdown {
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  background-color: #f6f6f6 !important;
}

.ant-select-item {
  border-radius: 0 !important;
}

.ant-select-item-option-selected {
  background-color: transparent !important;
}

.ant-checkbox-inner {
  border-radius: 0 !important;
  border-color: #9ca3af !important;
}

.ant-checkbox-checked .ant-checkbox-inner:hover,
.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #ffffff !important;
  background-color: transparent !important;
  background-image: linear-gradient(
    to right,
    rgb(59 130 246),
    rgb(29 78 216),
    rgb(124 58 237)
  );
}

.ant-notification-notice-wrapper {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 2px solid rgb(124 58 237);
}

.ant-notification-notice {
  display: flex !important;
  align-items: center !important;
}

.ant-notification-notice-content {
  max-height: 48px !important;
  padding-right: 32px !important;
}

.ant-notification-notice-icon-info > svg {
  color: rgb(29 78 216) !important;
}

@media (max-width: 575px) {
  .ant-form-item-row {
    flex-direction: row !important;
  }
}
