@tailwind base;
@tailwind components;
@tailwind utilities;

@import './ant-reset.css';

:root {
  --container-max-width: 1240px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #ffffff;
}

code {
  font-family: Poppins, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form-submit-button {
  width: 100%;
  height: 62px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  .form-submit-button {
    height: 52px;
  }
}
