@tailwind base;
@tailwind components;
@tailwind utilities;

@import './ant-reset.css';

:root {
  --container-max-width: 1440px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #ffffff;
}

code {
  font-family: Poppins, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form-submit-button {
  width: 100%;
  height: 62px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  .form-submit-button {
    height: 52px;
  }
}

/* purgecss start ignore */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background-image: linear-gradient(
    to right,
    rgb(59 130 246),
    rgb(29 78 216),
    rgb(124 58 237)
  );
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  opacity: 1;
  transform: rotate(3deg) translate(0, -4px);
}

.section-container {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    max-height: 0;
  }

  100% {
    opacity: 1;
    max-height: 1000px;
  }
}

.fade-down {
  overflow: hidden;
  height: max-content;
  animation: fade-down 0.8s ease-in-out;
}
